In [43]:
import nltk
# nltk.download()
import os
import pandas as pd
import numpy
from os import listdir
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer

Download

In [44]:
path = "D:\\documents\\users\\avevanes\\Downloads\\ohsumed-first-20000-docs"

# declaration
tokenize = []

# files name inside a folder
trainFileDirs = []
testFileDirs = []

# array of all the data
trainData = []
testData = []

infoTable = []

categoties = []
docForCategory = []
termsForCategory = []

In [45]:
from nltk.corpus import stopwords

stop_words = stopwords.words('english')

In [46]:
def cleanAndNormalizeText(data):

    # tokenization
    tokenize = word_tokenize(data)

    # remove stop words
    filterText = [w for w in tokenize if not w in stop_words]
    filterText = [w for w in filterText if not len(w) <= 1]

    # stem
    ps = PorterStemmer()
    for i in range(len(filterText)-1):
        if len(filterText[i]) > 1:
            try:
                filterText[i] = ps.stem(filterText[i])
            except Exception as e:
                filterText[i] = filterText[i]

    return ''.join(filterText)

In [54]:
trainFolder = os.listdir(path+ '\\training')
testFolder = os.listdir(path+ '\\test')
for folder in trainFolder:
    trainFileDirs = os.listdir(path+ '\\training\\'+ folder)
    for file in trainFileDirs:
        fileReader = open(path+ '\\training'+'\\'+folder+'\\'+file,mode='r')
        text = fileReader.read().lower()
        fileReader.close()
        Text = cleanAndNormalizeText(text)
        infoTable.append(['train',folder, file, Text])
for folder in testFolder:
    testFileDirs = os.listdir(path+ '\\test\\'+ folder)
    for file in testFileDirs:
        fileReader = open(path+ '\\test'+'\\'+folder+'\\'+file,mode='r')
        text = fileReader.read().lower()
        fileReader.close()
        Text = cleanAndNormalizeText(text)
        # infoTable.append(['test',folder, file, Text])


trainTable = pd.DataFrame(infoTable, columns=['type','category','test','file'])

In [55]:
# print category num in the train set
print('Number of categories', numpy.unique (trainTable['category']).size)

# category and num of docs in it
docForCategory = trainTable.groupby(by='category', as_index=False).agg({'file': pd.Series.nunique})
docForCategory

categories = trainTable['category']
# term distribution per category
for cat in categories:
    categoryFiles = trainTable.loc[trainTable['category'] == cat]
    
    
# top 10 words per category

Number of categories 23

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category</th>
      <th>file</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>C01</td>
      <td>423</td>
    </tr>
    <tr>
      <th>1</th>
      <td>C02</td>
      <td>158</td>
    </tr>
    <tr>
      <th>2</th>
      <td>C03</td>
      <td>65</td>
    </tr>
    <tr>
      <th>3</th>
      <td>C04</td>
      <td>1163</td>
    </tr>
    <tr>
      <th>4</th>
      <td>C05</td>
      <td>283</td>
    </tr>
    <tr>
      <th>5</th>
      <td>C06</td>
      <td>588</td>
    </tr>
    <tr>
      <th>6</th>
      <td>C07</td>
      <td>100</td>
    </tr>
    <tr>
      <th>7</th>
      <td>C08</td>
      <td>473</td>
    </tr>
    <tr>
      <th>8</th>
      <td>C09</td>
      <td>125</td>
    </tr>
    <tr>
      <th>9</th>
      <td>C10</td>
      <td>621</td>
    </tr>
    <tr>
      <th>10</th>
      <td>C11</td>
      <td>162</td>
    </tr>
    <tr>
      <th>11</th>
      <td>C12</td>
      <td>491</td>
    </tr>
    <tr>
      <th>12</th>
      <td>C13</td>
      <td>281</td>
    </tr>
    <tr>
      <th>13</th>
      <td>C14</td>
      <td>1249</td>
    </tr>
    <tr>
      <th>14</th>
      <td>C15</td>
      <td>215</td>
    </tr>
    <tr>
      <th>15</th>
      <td>C16</td>
      <td>200</td>
    </tr>
    <tr>
      <th>16</th>
      <td>C17</td>
      <td>295</td>
    </tr>
    <tr>
      <th>17</th>
      <td>C18</td>
      <td>388</td>
    </tr>
    <tr>
      <th>18</th>
      <td>C19</td>
      <td>191</td>
    </tr>
    <tr>
      <th>19</th>
      <td>C20</td>
      <td>525</td>
    </tr>
    <tr>
      <th>20</th>
      <td>C21</td>
      <td>546</td>
    </tr>
    <tr>
      <th>21</th>
      <td>C22</td>
      <td>92</td>
    </tr>
    <tr>
      <th>22</th>
      <td>C23</td>
      <td>1799</td>
    </tr>
  </tbody>
</table>
</div>